body {
	background: #808080;
	padding: 0;
	margin: 0;
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	/*font-family: "Droid Sans", "Helvetica", "Arial", sans-serif;
	font-size: 10pt;*/
}

h1 {
	display: block;
	background: black;
	border-bottom: 2px solid #434343;
	color: #aa6900;
	text-align: center;
	font-size: 1.3em;
	padding: 5px;
	margin: 0;
}

#navigation {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100vw;
	height: 50px;
	background: black;
	color: white;

	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
}
	#navigation a {
		flex: 0 0 50px;
		width: 50px;
	}

#content {
	background: #333;
	max-width: 400px;
	width: 100vw;
	margin: 0 auto 50px auto;
	padding-bottom: 10px;
}

.debug { background: white; border: 1px solid red; padding: 10px; margin: 20px; }
.hand { cursor: pointer; }
.is-hidden { display: none; }
.is-on  { background: #31a054; color: white; }
.is-off { background: #98272a; color: white; }
.is-val { background: #6092ed; color: white; }
.is-just-updated { color: #31a054; }
.is-today-updated { color: #aa6900; }


/*
border: 1px solid orange;
*/

.log-container {
}
	.log-box {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		flex-wrap: nowrap;
		align-items: center;
		
		color: #dfdfdf;
		border-bottom: 1px solid #555;
		font-size: 0.9em;
		padding: 3px 0;
	}
	.log-box:nth-of-type(even) {
		background: #2a2a2a;
	}
		.log-client {
			flex: 0 0 25px;
			text-align: center;
		}
		.log-time {
			flex: 0 0 60px; /* 95px */
		}
		.log-trigger {
			flex: 1;
		}
		.log-action {
			flex: 1;
		}
		.log-value {
			flex: 0 0 50px;
			text-align: center;
			padding: 6px 0;
		}

.receipes-container {
}
	.receipe-box {
		background-color: #1E2023;
		border: 1px solid #555;
		border-radius: 5px;
		color: #aaaaaa;
		margin: 10px;
		cursor: pointer;
	}
		.receipe-logo {
		}
		.receipe-title {
			background: linear-gradient(to bottom, #393939 0%,#181A1C 100%);
			border-bottom: 1px solid #434343;
			font-size: 2.5em;
			padding: 10px;
		}
		.receipe-meta {
			background-color: #181A1C;
			/*background: linear-gradient(to bottom, #2e2e2e 0%,#000000 100%);*/
			color: #dfdfdf;
			padding: 10px;
			border-radius: 5px;
			
			display: flex;
			justify-content: space-between;
		}
			.receipe-status {
				flex: 0 1 auto;
				border-radius: 5px;
				padding: 3px;
			}
				.receipe-status-circle {
					display: inline-block;
					width: 10px;
					height: 10px;
					border: 2px solid white;
					border-radius: 10px;
					margin-right: 5px;
				}
			.receipe-time {
				flex: 0 1 auto;
				padding: 3px;
			}

.sensor-container {
}
	.sensor-box {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: nowrap;
		flex-wrap: nowrap;
		align-items: center;
		
		color: #dfdfdf;
		border-bottom: 1px solid #555;
	}
	.sensor-box:nth-of-type(even) {
		background: #2a2a2a;
	}
		.sensor-icon {
			flex: 0 0 40px;
			text-align: left;
			padding: 2px 5px;
		}
		.sensor-name {
			flex: 1;
		}
		.sensor-time {
			flex: 0 0 40px;
			font-size: 0.8em;
		}
		.sensor-value {
			flex: 0 0 50px;
			text-align: center;
			line-height: 36px;
		}




